.quote-section {
	margin-bottom: 2rem;
}

.quote-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		margin: 1rem 0;
		padding: 3rem 0;
		background: url(../assets/img/quote-top.png) no-repeat top left, url(../assets/img/quote-bottom.png) no-repeat bottom right;
		background-size: 2rem;

		@include mq(tablet) {
			background-size: auto;
			margin-bottom: 6rem;
			max-width: px2rem(560px);
			flex: 0 0 50%;
			padding: 3rem 1rem;

		}

		blockquote {
			font-size: px2rem(24px);
			line-height: (36/24);
			margin-bottom: 1.5rem;

		}

		cite {
			font-size: px2rem(18px);
		}
	}
}

.question-mark {
	font-size: 9rem;
	color: #648cff;
}