.download-section {
	background: #648cff;
	padding: 3rem 0;

	@include mq(tablet) {
		background: #648cff url(../../assets/img/download-phones.png) no-repeat bottom/100%;
	}

	@include mq(desktop) {
		padding: 7.5rem 0;
	}

	h2 {
		color: #fff;
		margin-bottom: px2rem(48px);
	}

	p {
		color: #fff;
		max-width: 360px;
		margin-bottom: 2rem;
	}

	a {
		display: inline-block;

		+ a {
			margin-left: 1rem;
		}
	}
}