.feature-boxes {
	display: flex;
	flex-direction: column;

	@include mq(tablet) {
		flex-direction: row;
	}

	li {
		margin-bottom: 2rem;
		display: flex;

		@include mq(tablet) {
			text-align: center;
			flex-direction: column;
			align-items: center;
		}

		@include mq(desktop) {
			text-align: left;
			flex-direction: row;
			margin-bottom: 0;
			align-items: flex-start;
		}

	}

	li + li {

		@include mq(tablet) {
			margin: 0 1rem;
			padding: 0 1rem;
		}

		@include mq(desktop) {
			margin-left: 2rem;
		}
	}
}

.feature-img {
	margin-right: px2rem(21px);

	@include mq(tablet) {
		margin-right: 0;
	}

	@include mq(desktop) {
		margin-right: px2rem(21px);
		width: 60%;
	}

	img {
		float: left;
		width: 100%;

		@include mq(tablet) {
			margin-bottom: 1rem;
		}
	}
}

.feature-desc {
	h3 {
		//font-size: 24px;
		@include fluid-font(18px, 24px);
		color: #000;
		font-weight: 700;
		line-height: (36/24);
	}

	p {
		color: #aeaeae;
		line-height: (30/16);
	}
}