.feature-boxes {
	display: flex;
	flex-direction: row;

	li {
		display: flex;
	}

	li + li {
		margin-left: 2rem;
	}
}

.feature-img {
	margin-right: px2rem(21px);

	img {
		float: left;
	}
}

.feature-desc {
	h3 {
		font-size: 24px;
		color: #000;
		font-weight: 700;
		line-height: (36/24);
	}

	p {
		color: #aeaeae;
		line-height: (30/16);
	}
}