* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	font-size: 14px;

	@include mq(desktop) {
		font-size: 16px;
	}
}

body {
	font-family: $font-default;
	color: #353854;
	line-height: 1.2;
}

.container {
	max-width: px2rem(1230px);
	margin: 0 auto;
	padding: 0 1rem;
}

.main {
	margin-top: 4rem;

	@include mq(desktop) {
		margin-top: px2rem(120px);
	}
}
