* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	//font-size: 80%;
	font-size: 100%;
	@include mq(desktop) {
	}
}

body {
	font-family: $font-default;
}

.container {
	max-width: px2rem(1230px);
	margin: 0 auto;
	padding: 0 1rem;
}

.main {
	margin-top: 4rem;

	@include mq(desktop) {
		margin-top: px2rem(120px);
	}
}
