.section {
	margin-bottom: px2rem(200px);
}

.section-header {
	text-align: center;
	margin-bottom: px2rem(120px);
}

.section-title {
	font-size: px2rem(36px);
	color: $blue;
	font-weight: 700;
	text-transform: uppercase;
}

.section-decription {
	font-size: px2rem(18px);
	color: $gray;
}