.welcome {
	background: url("../../assets/img/background.png") no-repeat bottom;
	background-size: cover;
}

.nav {
	display: flex;
	flex-direction: row;
	padding-top: 3rem;
	line-height: 30px;

	@include mq(desktop) {
		justify-content: center;
	}

	&-logo {
		margin-left: 1rem;

		@include mq(desktop) {
			margin-right: 3rem;
		}

		@include mq(wide) {
			margin-right: px2rem(140px);
		}

		a {
			display: block;
			font-size: 1.5rem;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
		}
	}

	&-menu {
		display: none;

		@include mq(desktop) {
			display: flex;

			li + li {
				margin-left: 5rem;
			}

			a {
				text-decoration: none;
				color: #fff;
				font-size: px2rem(18px);
			}
		}
	}

	&-social {
		display: none;

		@include mq(desktop) {
			display: flex;
			margin-left: 4rem;

			li + li {
				margin-left: 3rem;
			}

			a {
				display: block;

				img {
					height: 25px;
					width: 25px;
					vertical-align: middle;
				}
			}
		}

		@include mq(wide) {
			margin-left: px2rem(150px);
		}
	}
}

.jQ_nav {
	position: fixed;
	top: 0;
	background-color: #658cfd;
	padding: 1.5rem 0;
	width: 100%;
	z-index: 99999;
	transition: 3s transform;
	transform: translateY(-80px);
}

.welcome-section {
	color: #fff;
	display: flex;
	margin: 3rem 0 .5rem;

	@include mq(desktop) {
		margin: px2rem(150px) 0 px2rem(10px);
	}
}

.welcome-header {
	max-width: px2rem(484px);
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include mq(desktop) {
		margin-right: px2rem(78px);

	}
}

.welcome-title {
	font-weight: 700;
	margin-bottom: px2rem(43px);
	font-size: 2.5rem;

	@include mq(desktop) {
		font-size: px2rem(60px);
	}
}

.welcome-description {
	font-size: px2rem(18px);
	margin-bottom: px2rem(60px);
	line-height: (30/18);
}

.welcome-buttons {
	margin-bottom: 2.5rem;

	@include mq(desktop) {
		margin-bottom: 0;
	}

	.btn {
		margin: .5rem;

		@include mq(desktop) {
			margin-right: px2rem(13px);
			max-width: px2rem(158px);
		}
	}
}

.welcome-image {
	display: none;

	@include mq(tablet) {
		display: block;

		img {
			width: 100%;
		}
	}

	@include mq(desktop) {
	}
}

.scroll-btn {
	text-align: center;
	padding-bottom: 4rem;

	button {
		animation: bounce 3s infinite;
		margin: 0 auto;
		border-radius: 50%;
		background-color: #fff;
		width: 49px;
		height: 49px;
		position: relative;
		box-shadow: $box-shadow;
		cursor: pointer;

		&:focus {
			outline: 0;
		}

		&::before {
			content: '';
			position: absolute;
			top: 40%;
			left: 42%;
			transform: rotate(135deg);
			border-right: 2px solid $red;
			border-top: 2px solid $red;
			width: 0.4rem;
			height: 0.4rem;
		}
	}
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-.5rem);
	}
}