.widget-section {
}

.widget-section__widget {
	text-align: center;
	position: relative;

	img {
		box-shadow: 3px 3px 50px rgba(#ccc, 0.8);
	}

	.image--left {
		display: none;
		position: absolute;
		left: 15%;
		z-index: 1;
		bottom: 3rem;

		@include mq(tablet) {
			display: block;
		}
	}

	.image--center {
		position: relative;
		z-index: 99;
		width: 70%;

		@include mq(tablet) {
			width: auto;
		}
	}

	.image--right {
		display: none;
		position: absolute;
		z-index: 2;
		right: 15%;
		bottom: 3rem;

		@include mq(tablet) {
			display: block;
		}
	}
}

.arrow {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	cursor: pointer;

	img {
		box-shadow: none;
		height: 2rem;

	}

	&--left {
		left: 0;

	}

	&--right {
		right: 0;
	}
}
