<ifModule mod_headers.c>
    <ifModule mod_expires.c>
        ExpiresActive On

        # Expires after 1 month
        <filesMatch ".(gif|png|jpg|jpeg|ico|pdf|js|htm|html|txt|woff|woff2|svg|css)$">
            Header set Cache-Control "max-age=2592000"
            Header set Access-Control-Allow-Origin "*"
        </filesMatch>
    </ifModule>
</ifModule>